@import '../variables';

.screen-header {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $horizontal-space;

  &__title {
    font-size: 28px;
    font-weight: 600;
  }

  &__icons {
    span {
      margin-left: 20px;
    }
  }
}
