.nav {
  background-color: #f9f9fa;
  padding: 20px 0px;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__btn {
    width: 25%;
    display: flex;
    justify-content: center;
  }

  &__link {
    color: #2e363e;
    position: relative;
  }

  &__notification {
    position: absolute;
    left: 10px;
    bottom: 15px;
  }
}
