#friends-display-link {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fafafa;
  padding: 15px;
  margin-top: -10px;
  box-sizing: border-box;

  i {
    color: rgba(0, 0, 0, 0.3);
    display: block;
    margin-right: 5px;
  }
  span {
    display: block;
    margin-right: 10px;
  }
}

.friend-recommendations {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  span {
    display: inline-block;
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.2);
  }

  &__screen {
    display: flex;
    height: 300px;
    align-items: center;
    justify-content: center;
  }
}
