@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

@import 'reset';
@import 'variables';

// Components
@import 'components/status-bar';
@import 'components/nav-bar';
@import 'components/header';
@import 'components/user-component';
@import 'components/badge';
@import 'components/dot';
@import 'components/icon-row.scss';
@import 'components/alt-screen-header';

// Screens
@import 'screens/login';
@import 'screens/friends';
@import 'screens/find';
@import 'screens/more';
@import 'screens/settings';
@import 'screens/chat';

body {
  font-family: 'Open Sans', sans-serif;
  color: $default-gray;
}

.main-screen {
  padding: 0px $horizontal-space;

  &__channel-header {
    padding: 15px 0px;
    margin: 15px 0px;
    border-top: 1px solid rgba($default-gray, 0.2);
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.5);
  }
}
